<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="quizzUML" class="devoir2.question1.constructor.UMLQuizz"></bean>
    <bean id="quizzCMM" class="devoir2.question1.constructor.CMMQuizz"></bean>
    <bean id="quizzM" class="devoir2.question1.constructor.QuizzMasterService">
        <constructor-arg ref="quizzCMM"></constructor-arg>
    </bean>

</beans>