<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="Question sur UML" class="devoir2.question1.A_constructeur.Quizz">
        <constructor-arg><value>"Question sur UML"</value></constructor-arg>
        <constructor-arg><value>"Parmi les diagrammes suivants, lequel a été introduit dans UML2 ?"</value></constructor-arg>
        <constructor-arg><value>"Diagramme d'activité"</value></constructor-arg>
        <constructor-arg><value>"Diagramme de Classes"</value></constructor-arg>
        <constructor-arg><value>"Diagramme de Temps"</value></constructor-arg>
        <constructor-arg><value>"Diagramme des cas d'utilisation"</value></constructor-arg>
        <constructor-arg><value>2</value></constructor-arg>
    </bean>
    <bean id="Question sur CMM" class="devoir2.question1.A_constructeur.Quizz">
        <constructor-arg><value>"Question sur CMM"</value></constructor-arg>
        <constructor-arg><value>"3.	La méthode  CMM (Capability Maturity Model) se divise en :"</value></constructor-arg>
        <constructor-arg><value>"a)	3 niveaux"</value></constructor-arg>
        <constructor-arg><value>"b)	4 niveaux"</value></constructor-arg>
        <constructor-arg><value>"c)	5 niveaux"</value></constructor-arg>
        <constructor-arg><value>"d)	6 niveaux"</value></constructor-arg>
        <constructor-arg><value>2</value></constructor-arg>
    </bean>
    <bean id="Choix" class="devoir2.question1.A_constructeur.QuizzMasterService">
        <constructor-arg ref="Question sur UML"></constructor-arg>
    </bean>
</beans>